      <div class="jumbotron">
        <p class="lead">Sundial is a telephone number to timezone conversion tool. Give it a telephone number (in any format) and it'll tell you the local time and timezone.</p>
        <p>Sundial works particularly well with US telephone numbers, and in the US it can look up timezones by area code. Unless your telephone number has an international country code prefix like <code>+44</code>, <code>0044</code>, <code>+385</code> or <code>00385</code>, Sundial will assume that you are converting a US telephone number.</p>
      </div>
