      <div class="jumbotron">
        <p class="lead">Sundial is a telephone number to timezone conversion tool. Give it a US telephone number (in any old format) and it'll tell you the local time and timezone to which the number corresponds.</p>
      </div>
