<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sundial - US Telephone Number to Timezone Conversion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sundial is a telephone number to timezone conversion tool. Give it a US telephone number (in any old format) and it'll tell you the timezone to which the number corresponds.">
    <meta name="author" content="Benjamin Smith">

    <link href="http://fonts.googleapis.com/css?family=Bitter:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/sundial.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="jumbotron">
        <h1><a href="/" alt="Sundial: Telephone number to timezone conversion">Sundial</a></h1>
      </div>

      <hr>

      <%= yield %>

      <hr>

      <div class="jumbotron">
        <form class="convert" action="/" method="get"> 
          <div class="control-group">
            <input type="text" name="convert" value="<%= input or "" %>" class="input-large form-search">
          </div>
          <button type="submit" class="btn btn-large btn-success">What's the time?</button>
        </form>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; <a href="http://www.benjaminasmith.com/">Benjamin Smith</a>. Fork me on <a href="http://github.com/benjaminasmith/sundial">Github</a>.</p>
      </div>

  </body>
</html>
