      <hr>

      <div class="row-fluid results">
        <div class="span6">
          <h4>Telephone Number</h4>
          <p><%= input %></p>
        </div>
        <div class="span6">
          <h4>Local Timezone</h4>
          <p><%= time %></p> 
        </div>
      </div>
