      <div class="row-fluid results">
        <dl>
          <dt>Telephone Number</dt>
          <dd><code><%= input %></code></dd>
          <dt>Current Time</dt>
          <dd><%= time %></dd> 
          <dt>Local Timezone</dt>
          <dd><%= timezone %></dd>
        </dl>
      </div>
